| No | **Trade ID** | **Legal Entity** | **Value Date** | **Amount** | **Cashflow id ** | if send to LMS | LMS test result | LMS tested by | Comment |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 1 | 109833274 | PAKISTAN | 11-Aug-26 | 1 USD | M00128221756 | Y | | | |
| 2 | 109853542 | PAKISTAN | 11-Aug-26 | 1 PKR | M00128236898 | Y | | | |
| 3 | 109837964 | KENYA | 11-Aug-26 | 1 USD | M00128226418 | Y | | | |
| 4 | 109838348 | KENYA | 11-Aug-26 | 1 KES | M00128225482 | Y | ![image-2026-8-11_17-15-27.png](attachments/image-2026-8-11_17-15-27.png) | | 2026-08-11 ![image-2026-8-14_15-35-21.png](attachments/image-2026-8-14_15-35-21.png) |
| 5 | 109838404 | ZAMBIA | 11-Aug-26 | 1 USD | M00128226432 | Y | | | |
| 6 | 109838410 | ZAMBIA | 11-Aug-26 | 1 ZMW | M00128226451 | Y | | | |
| 7 | 109856952 | TANZANIA | 11-Aug-26 | 1 USD | M00128240066 | Y | | | |
| 8 | 109839223 | TANZANIA | 11-Aug-26 | 1 TZS | M00128227135 | | | | 2026-08-13 PO is checking with downstream ,waiting for feedback ![image-2026-8-14_15-34-18.png](attachments/image-2026-8-14_15-34-18.png) |
| 9 | 109829856 | SRI LANKA | 11-Aug-26 | 1 USD | M00128219026 | Y | | | |
| 10 | 109833099 | SRI LANKA | 11-Aug-26 | 1 LKO | | | | | 2026-08-17 Need MO to book trade ,ops user released the cashflow ,then update the cashflow on this page to ask LMS to verify |
| 11 | 109833072 | VIETNAM | 11-Aug-26 | 1 USD | M00128221617 | Y | | | |
| 12 | 109833271 | VIETNAM | 11-Aug-26 | 1 VNO | | | | | 2026-08-17 Need MO to book trade ,ops user released the cashflow ,then update the cashflow on this page to ask LMS to verify |
| 13 | 109836414 | BANGLADESH | 11-Aug-26 | 1 USD | M00128224487 | Y | | | |
| 14 | 109836663 | BANGLADESH | 11-Aug-26 | 1 BDO | | | | | 2026-08-17 Need MO to book trade ,ops user released the cashflow ,then update the cashflow on this page to ask LMS to verify |